<div class="input-group row" style="padding: 0px;">
  <div class="col-md-2 btn offset-md-1">
    <label for="show-done" class="btn btn-primary" [class.bg-gray]="!showDone.checked"> Show done </label>
    <input type="checkbox" name="show-done" id="show-done" checked (change)="toggleDoneVisibility()" #showDone>
  </div>
  <label for="sort-by" class="col-md-2">Sort by:</label>
  <select name="sort-by" id="sort-by" class="col-md-2 form-control" style="margin-top: 5px" (change)="sortBy($event.target.value)"
    [(ngModel)]="sort">
    <option value="0">Checked</option>
    <option value="1">Priority</option>
    <option value="2">Title</option>
    <option value="3">Starts</option>
    <option value="4">Ends</option>
  </select>
  <div class="btn btn-primary col-md-2" style="margin: 5px; height: 38px;">Upload tasks
    <input type="file" name="json-input" id="json-input" style=" opacity: 0; position: absolute; left: 0px; top: 0;width: 100%; height: 100%; cursor: pointer;"
      (change)="uploadJSON($event)">
  </div>
  <button (click)="downloadJSON()" class="col-md-2 btn btn-primary " style="height: 38px; margin: 5px;">Download tasks</button>
</div>
<label for="filter" class="col-2 input-control">Title filter:</label>
<input type="text" name="filterTitle" id="filterTitle" style="margin-right: 10%" class="col-6 input-control" [(ngModel)]="filter.title" #filterString>
<select name="priority" id="priority" class="input-control col-2" [(ngModel)]="filter.priority" #filterPriority>
  <option value="0">Major</option>
  <option value="1">Moderate</option>
  <option value="2">Minor</option>
  <option value="">None</option>
</select>
<label for="filterDateStarts" class="">Starts:</label>
<input type="date" name="filterDateStarts" id="filterDateStarts" class="col-3 input-control" [(ngModel)]="filter.starts" #filterStarts>
<label for="filterDateIncludes" class="">Includes:</label>
<input type="date" name="filterDateIncludes" id="filterDateIncludes" class="col-3 input-control" [(ngModel)]="filter.includes" #filterIncludes>
<label for="filterDateEnds" class="">Ends:</label>
<input type="date" name="filterDateEnds" id="filterDateEnds" class="col-3 input-control" [(ngModel)]="filter.ends" #filterEnds>

<div>
  <ul class="list-group">
    <app-list-item *ngFor="let eachItem of toDoListArray" [item]="eachItem" [done]="showDone" [filters]="filter"></app-list-item>
  </ul>
</div>
