<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <a *ngIf="auth.isLoggedIn()" routerLink='/list' class=" btn btn-primary col-md-2 offset-md-3">Main</a>
      <a *ngIf="auth.isLoggedIn()" routerLink='/about' class=" btn btn-primary col-md-2">About</a>
      <button *ngIf="auth.isLoggedIn()" class=" btn btn-primary col-md-2" (click)="auth.logout()">Logout</button>
      <div class="jumbotron" style="padding: 25px 0px 0px">
        <h4 class="text-center">To Do List App</h4>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
